{% extends 'base.html' %}

{% block content %}

<!-- <div class="header">
  <h2>Welcome to my blog</h2>
</div>
<body>
  {% for blog in blogs %}
  <p>{{ blog }}</p>
  {% endfor %}
  <form method="POST" action="{{ url_for('add_contact_me') }}"
    {{ form.csrf_token }}
    <p>
      {{ form.name.label }}<br>
      {{ form.name(rows=5, col=40) }}
    </p>
    <p>
      <input type="submit" value="Contact Me"
    </p>
    </form>
  </body>

<div class="row">
  <div class="leftcolumn">
    <div class="card">
      <h2>TITLE HEADING</h2>
      <h5>Title description, Dec 7, 2017</h5>
      <div class="fakeimg" style="height:200px;">Image</div>
      <p>Some text..</p>
    </div>
    <div class="card">
      <h2>TITLE HEADING</h2>
      <h5>Title description, Sep 2, 2017</h5>
      <div class="fakeimg" style="height:200px;">Image</div>
      <p>Some text..</p>
    </div>
  </div>
  <div class="rightcolumn">
    <div class="card">
      <h2>About Me</h2>
      <div class="fakeimg" style="height:100px;">Image</div>
      <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
    </div>
    <div class="card">
      <h3>Popular Post</h3>
      <div class="fakeimg">Image</div><br>
      <div class="fakeimg">Image</div><br>
      <div class="fakeimg">Image</div>
    </div>
    <div class="card">
      <h3>Follow Me</h3>
      <p>Some text..</p>
    </div>
  </div>
</div>

<div class="footer">
  <h2>Footer</h2>
</div> -->

{% endblock %}
