{% extends 'base.html' %}
		
{% block content %}

<center  <header class="w3-container w3-padding-32 w3-center w3-black" id="home">
    <img src="{{ url_for('static', filename='images/OCT28NYX.jpg')}}">
<table>
	<tr class="table__header">
		{% for header in headings %}
		<th>{{ header }}</th>
		{% endfor %}
	</tr>
	{% for row in day_quotes %}
	<tr class="table__row">
		{% for cell in row %}
		<td class="table__cell">{{ cell }}</td>
		{% endfor %}
	</tr>
	{% endfor %}
</table>
<center  <header class="w3-container w3-padding-32 w3-center w3-black" id="home">
    <img src="{{ url_for('static', filename='images/OCT28CURB.jpg')}}">
<b>This is a private database for academic purposes only.</b></center>

{% endblock %}